* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

.App {
  text-align: center;
  font-family: "Nunito Sans", sans-serif;
}

body {
  background: linear-gradient(to bottom right, #f4b661, #dc6161);
  background-repeat: no-repeat;
}
