.home-page {
  background-color: white;
  background-size: cover;
}

.all-posts {
  background-color: aqua;
  display: flex;
  height: 100vh;
  margin: 0 10% 0 10%;
}

.link-post {
  text-align: left;
  margin: 20px 50px;
  width: 20%;
  font-weight: 500;
  font-size: 20px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.post {
}
