.post-container {
  background: white;
  letter-spacing: 3px;
	width: 100%;
	max-width: 650px;
	margin: auto;
  margin-bottom: 20px;
  margin-top: 20px;
  box-shadow: 0 2px 10px rgb(57, 55, 55);
}

.post-header {
	height: 50px;
}

.username {
  float: left;
  padding: 10px 0px 10px 20px;
  font-size: 30px;
  text-transform: uppercase;
}


img {
	width: 650px;
	height: 600px;
	display: flex;
  justify-content: center;

}

.heart {
  float: left;
  margin: 10px 0px 10px 10px;
  
}

.card-content {
  padding: 40px 10px 5px 10px;
  
  margin: auto;
  display: flex;
  justify-content: flex-start;
  font-size: 18px;
}

.caption-name {
  font-weight: bold;
  padding-right: 5px;
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 2px;
}

.caption {
  letter-spacing: 1px;
  float: left;
  padding: 0px 20px 0px 0px;
  
}

hr {
  width: 75%;
  margin: 0 auto;
  height: 1px;
}

.delete {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    margin-right: 5px;
}

.post-actions{
  display: flex;
  justify-content: flex-end;
}


@media screen and (max-width: 650px) {
  img {
    width: 300px;
	  height: 300px;
	  display: flex;
    justify-content: center;
  }
  .post-container {
    
    max-width: 300px;
    
  }
}