a {
  color: black;
}

a:hover {
  font-size: 22px;
}

.navbar {
  background: linear-gradient(90deg, #f4b661, #f16160);
}

a:link {
  text-decoration: none;
  font-family: 'Nunito Sans', sans-serif;
}
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a:active {
  text-decoration: none;
}

.title {
  color: black;
  font-weight: 800;
  font-size: 55px;
  font-family: "Style Script", cursive;
  text-shadow: -2px 2px white;
  margin: 10px 0px;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.links {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 0px 0px 0px 50px;
}

.link {
  margin: 25px 50px;
  font-size: 20px;
  font-weight: 700;
  text-shadow: -1.5px 1.5px white;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.header {
  color: white;
  font-weight: 800;
  font-size: 55px;
  font-family: "Style Script", cursive;
  margin: 10px 50px 10px 0px;
  text-shadow: -2px 2px black;
}
